body{
    background-color: #8f959e;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    font-family: Jockey One;
    position: fixed;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18pt;

}

li a.active {
    background-color: #8f959e;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.div1{
    height: 650px;
    width: 200px;
    background-color: white;
    position: fixed;
}
.img1{
    width: 200px;
}
.div2{
    background-image: url(https://images.wallpaperscraft.com/image/black_ball_band_white_68396_1152x864.jpg);
    height: 650px;
    width: 1133px;
    float: right;
    }
    .p1{
        font-family: Limelight;
        font-size: 30pt;
        margin-left: 250px;
        color: white;
        margin-top: 300px;
    }
    .button {
    background-color: #424549;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 125px;
    cursor: pointer;
    font-family:Calligraffitti;
}
.div3{
    height: 900px;
    width: 1333px;
    background-color: #def1f2;
    float: right;


}
.h1{
    font-family: Aclonica;
    text-align: center;
    margin-top: 250px;

}
.s1{
    margin-left: 500px;
    font-size: 15pt;
    font-family: Aclonica;
}
.img2{
    width: 400px;
    margin-left: 325px;
}
.img3{
    width: 400px;
}

.img5{
    margin-left: 170px;
}